@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
body{
    background-color: rgb(207, 207, 207);
    font-family: 'Ubuntu', sans-serif;
    background-image: url("http://www.drodd.com/images14/white-wallpaper29.png");
}
.imgBanner{
    margin-bottom: 50px;
}