<footer id="myFooter">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h2 class="logo">
          <a href="#">
            <img src="https://vignette.wikia.nocookie.net/warcrafttotalwar/images/4/4d/World-of-warcraft.png/revision/latest?cb=20130115031823&path-prefix=es" alt="">
          </a>
        </h2>
      </div>
      <div class="col-sm-2">
        <h5>Useful Links</h5>
        <ul>
          <li>
            <a href="" routerLink="/">Home</a>
          </li>
          <li>
            <a href="" routerLink="/realms">Realms</a>
          </li>
          <li>
            <a href="" routerLink="/guild">Guild Search</a>
          </li>
          <li>
            <a href="" routerLink="/pvp">PVP</a>
          </li>
          <li>
            <a href="" routerLink="/player">Player Search</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <p>© Facundo Conde All Rights Reserved</p>
  </div>
</footer>